body {
  background: url('art_wall.jpg') no-repeat 50% 50% fixed;
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
}

#registration {
  float: right;
  margin-top: 0;
}

li  {
  font-family: 'PT Serif', serif;
  color: white;
  display: inline;
  margin-right: 10px;
  float:right;
}

a:link {
    color: #FF0000;
}
input {
  width: 50%;
  line-height: 50px;
  width: 500px;
  background: rgba(255,255, 255, 0.15);
  margin: auto;
  margin-left: 30%;
  font-size: 25px;
  border: rgba(255, 0, 0, 0.5);
  clear: right;
  text-align: center;
  align-items: center;
  -webkit-appearance: none;
}

#intro_text h1 {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  color: white;
  clear: right;
  text-align: center;
  padding-top: 30%;
}

#footer{
  text-align: center;
  color: white;
  padding-top: 100%;
}
